<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>はま寿司カテゴリ一覧</title>
</head>
<body>
  <h2>はま寿司：カテゴリ一覧</h2>
  <table>
    <tr><th>ID</th><th>カテゴリ</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><a href="/menu/<%= row.url %>"><%= row.tag %></a></td>
        <% number += 1 %>
      <% } %>
  </table>
</body>
</html>