<!DOCTYPE html>
<nav>
  <a href="/public/index.html">Home</a> |
  <a href="/intro.html">自己紹介</a> |
  <a href="/hobby.html">趣味</a> |
  <a href="/english">English</a> |
  <a href="/france">France</a> |
  <a href="/germany">Germany</a> |
  <a href="/omikuji2">おみくじ</a>
</nav>
<hr>